ul {
    max-height: 99%;
    max-width: 99%;
}

header {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
}

.logo {
/*    max-height: 50px;
    max-width: 50px; */
    height: 55px;
    width: 55px;
    float: left;
}

.title {
    margin-left: 10%;
    margin-top: 15px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 30px;
}
