ul {
    max-height: 99%;
    max-width: 99%;
}

header {
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: black;
}

body {
    margin: 5%;
    background-image: url("fond01.jpg");

    height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.logo {
/*    max-height: 50px;
    max-width: 50px; */
    height: 55px;
    width: 55px;
    float: left;
    margin-top: 20px;
}

.title {
    margin-left: 10%;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 30px;
    font-family: courier;
}

.container {
    font-family: Iosevka;
    font-weight: bold;
    color: white;
    display: flex;
}

.head {
    align-items: flex-start;
}

.tableofcontents {
    align-items: center;
    justify-content: left;
}

.processors {
    align-items: center;
    justify-content: right;
}

